---
BasedOnStyle: 'LLVM'
Language: 'Cpp'
AlignAfterOpenBracket: 'AlwaysBreak'
AllowAllConstructorInitializersOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AlignConsecutiveMacros: 'true'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: 'None'
AllowShortIfStatementsOnASingleLine: 'Never'
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakTemplateDeclarations: 'Yes'
BreakBeforeBraces: 'Attach'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBinaryOperators: 'true'
BreakConstructorInitializers: 'AfterColon'
BreakInheritanceList: 'AfterColon'
Cpp11BracedListStyle: 'true'
CompactNamespaces: 'false'
ColumnLimit: 125 
DerivePointerAlignment: 'true'
FixNamespaceComments: 'true'
IncludeBlocks: 'Regroup'
IndentPPDirectives: 'BeforeHash'
IndentExternBlock: 'AfterExternBlock'
NamespaceIndentation: 'All'
SortUsingDeclarations: 'true'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeCtorInitializerColon: 'true'
SpaceBeforeInheritanceColon: 'true'
SpaceBeforeParens: 'ControlStatements'
SpaceBeforeRangeBasedForLoopColon: 'true'
SpaceInEmptyBlock: 'true'
SpacesInCStyleCastParentheses: 'true'
SpacesInConditionalStatement: 'true'
SpacesInParentheses: 'true'
SpacesInSquareBrackets: 'true'
Standard: 'auto'
...
