prune cmake
prune benchmark
prune project_template
prune public
prune www
prune share
prune docs
prune example
prune .github
prune .git
prune **/include

include setup.py
include setup.cfg
include CMakeLists.txt
include LICENSE
include README.md
include pyproject.toml
include include/CMakeLists.txt

graft openjij
graft tests 
graft external
graft include/openjij

include cmake/GenerateDocs.cmake
include cmake/PythonAutoDetectOSX.cmake
include cmake/FindGcov.cmake 
include cmake/FindLcov.cmake
include cmake/Findcodecov.cmake
include cmake/llvm-cov-wrapper

global-exclude .clang-format
global-exclude .pre-commit-config.yaml
global-exclude codecov.yml
global-exclude oneAPI.repo
global-exclude requirements.txt
global-exclude dev-requirements.in
global-exclude format-requirements.in
global-exclude dev-requirements.txt
global-exclude format-requirements.txt
global-exclude lint-requirements.in
global-exclude lint-requirements.txt
global-exclude build-requirements.in
global-exclude build-requirements.txt
global-exclude .gitignore 
global-exclude Doxyfile
global-exclude Doxyfile.bak
global-exclude .coveragerc
global-exclude .gitattribute
global-exclude CODE_OF_CONDUCT.md
global-exclude doc-requirements
