include setup.py
include setup.cfg
include CMakeLists.txt
include LICENSE
include README.md
include pyproject.toml

exclude requirements.txt
exclude .gitignore 
exclude .gitmodules
exclude Doxyfile
exclude Doxyfile.bak
exclude build_gcc.sh
exclude hoge.py

graft openjij
graft tests 
graft src 
graft external

prune docs
prune example
prune examples 
prune project_template
prune .github
prune .git

