.math .katex-display {
    overflow: auto hidden;
    text-align: center;
}

p .math:not(div) .katex-display {
    font-size: 1.0em; 
}
p .math:not(div) {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
}

div .math:not(span) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

div .math:not(span) *{
    overflow: visible visible;
}

div .math:not(span) .vlist{
    margin: auto auto;
    width: min-content;
    height: min-content;
}


div .math:not(span) .tag{
    width: min-content !important;
    position: static !important;
    outline: none;
    text-align: right;
}
